header #mobile-navigation {
  padding: 0.125rem; /* 2px */
  opacity: 100%;
  left: 0 !important;
  margin:auto;
}

header .mobile-navigation svg g {
  fill: var(--craftmix-dark-blue);
}

.bestsellers-container-mobile {
  padding: 0 5% 0.75rem; /* 12px */
}

.bestsellers-container-mobile h2.bestsellers-mobile-header {
  font-family: 'Goldplay';
  font-weight: 700;
  color: var(--craftmix-dark-blue);
  font-size: 0.75rem; /* 12px */
  letter-spacing: 0.01875rem; /* .3px */
  margin-bottom: 0.625rem; /* 10px */
}

#mobile-navigation .background-header {
  background-color: var(--craftmix-pale-blue);
  padding-top: 0;
}

#mobile-navigation .bestseller-badge,
#mobile-navigation h2 {
  color: var(--craftmix-dark-blue);
}

.mobile-menu-dropdowns-container {
  margin: 0 auto;
  padding: 0.75rem 5%; /* 12px */
  width: 100%;
}

#mobile-navigation .accordion .accordion-item {
  border-bottom: 0.0625rem solid var(--craftmix-dark-blue); /* 1px */
}

#mobile-navigation .accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: none;
}

#mobile-navigation .accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1rem 0; /* 16px */
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  background: none;
  outline: none;
}

#mobile-navigation .accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

#mobile-navigation .accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 0.0625rem solid #03b5d2; /* 1px */
}

#mobile-navigation .accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 1.125rem; /* 18px */
  right: 0.5625rem; /* 9px */
  width: 1.375rem; /* 22px */
  height: 1.375rem; /* 22px */
  border-radius: 1.375rem; /* 22px */
}

#mobile-navigation .accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 0.5625rem; /* 9px */
  left: 0.375rem; /* 6px */
  width: 1.5rem; /* 24px */
  height: 0.09375rem; /* 1.5px */
  background: var(--craftmix-dark-blue);
}

#mobile-navigation .accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: -0.1875rem; /* -3px */
  left: 1.125rem; /* 18px */
  width: 0.09375rem; /* 1.5px */
  height: 1.5rem; /* 24px */
  background: var(--craftmix-dark-blue);
}

#mobile-navigation .accordion button[aria-expanded='true'] {
  color: #03b5d2;
}

#mobile-navigation .accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

#mobile-navigation .accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: unset;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

#mobile-navigation .accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

#mobile-navigation .accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2rem 0; /* 32px */
}

.mobile-nav-content-wrapper {
  overflow-y: auto;
  background: var(--craftmix-pale-blue);
}

#mobile-menu-dropdowns-container {
  padding: 0.75rem 5%; /* 12px */
}

#mobile-navigation .text-right {
  padding: 0 5%;
  min-height: 3.25rem; /* 52px */
}

#mobile-navigation .accordion-title {
  font-family: 'Hornbill';
  font-weight: 600;
  font-size:24px;
}

#mobile-navigation .mega-menu-grid-cell {
  flex: 0 0 32.3%;
  max-width: 32.3%;
  height: 8rem;
}

#mobile-navigation .accordion .about-accordion-button {
  width: unset;
  padding: 0.625rem 0; /* 10px */
}

#mobile-navigation .accordion .about-accordion-button h3 {
  font-size: 1rem; /* 16px */
  padding: 0.625rem; /* 10px */
  border-radius: 0.375rem; /* 6px */
  font-family: 'Goldplay';
  font-weight: 600;
  transition: color 0.25s ease, background-color 0.25s ease;
  color: var(--craftmix-dark-blue);
}

#mobile-navigation .accordion-content .about-accordion-button:last-of-type h3 {
  margin-bottom: 0.75rem; /* 12px */
}

#mobile-navigation .accordion .about-accordion-button h3:hover {
  background-color: var(--craftmix-orange);
  color: white;
}

#mobile-navigation a.about-accordion-button:focus-visible h3,
#mobile-navigation a.about-accordion-button:focus h3 {
  background-color: var(--craftmix-orange);
  color: #fff;
}

#mobile-navigation #accordion-button-3[aria-expanded="true"] {
  padding-bottom: 0.375rem; /* 6px */
}

#mobile-navigation .mobile-menu-cta-container {
  height: unset;
}

#mobile-navigation .mobile-menu-cta-container a {
  display: block;
  width: 90%;
  margin: 1.25rem 5%; /* 20px */
  font-size: 0.875rem; /* 14px */
  text-align: center;
  padding: 0.875rem; /* 14px */
}

#mobile-menu-cta-2 {
  margin-bottom: 2rem !important; /* 32px */
}
#mobile-navigation > svg{
  height:100%;
}
#mobile-navigation .variety-pack-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px; /* Adjust as needed */
}
#mobile-navigation .variety-pack-grid-container .mega-menu-grid-cell{
  max-width: unset;
}
#mobile-navigation .variety-pack-grid-container .mega-menu-grid-cell.featured {
  grid-column: span 2;
  grid-row: span 2;
  height: unset;
  margin-bottom:0;
}
#mobile-navigation .mega-menu-grid-cell.featured{
  padding: 0;
  border: 0;
  display:block;
  overflow: hidden;
  padding: 5px 5px 0 5px;
}
#mobile-navigation .mega-menu-grid-cell.featured img{
  max-height: unset;
  height:unset;
  border-radius:8px;
}
#mobile-navigation .mega-menu-grid-cell.featured p{
  margin: 0;
}
#mobile-navigation .mega-menu-grid-cell.featured p.featured-variety-final-price{
  color:var(--craftmix-orange);
  font-family: Appetite, Bevan;
  font-size: 30px;
}
#mobile-navigation .mega-menu-grid-cell.featured p.featured-variety-original-price,
#mobile-navigation .mega-menu-grid-cell.featured p.featured-variety-title{
  position: relative;
  font-weight: 600;
  font-family: 'Goldplay';
  color:var(--craftmix-dark-blue);
}
#mobile-navigation .mega-menu-grid-cell.featured p.featured-variety-original-price::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right:0;
  margin:auto;
  width: 25%;
  height: 2px;
  background: red; /* or any color you want */
  transform: rotate(6deg);
  transform-origin: center;
}
.featured-variety-text{
  position: relative;
  top:-10px;
  line-height:1.1;
}
.featured-variety-text h2{
  font-size:18px;
}
.mobile-menu-dropdowns-container .mega-menu-grid-cell img{
  height: 65px;
}
@media screen and (max-width: 25rem) { /* 400px */
  #mobile-navigation {
    width: 100%;
  }
  #mobile-navigation > svg {
    max-width: 60%;
  }
  .logo-name img{
    max-width:11rem
  }
}
